*{
    margin:0px;padding: 0px;
    font-family:sans-serif;
    color:white;

}
a{
    color:whitesmoke;
    text-decoration: none;
}
p,p>a{
    color:rgba(245, 245, 245, 0.744);
}
ion-icon{
    color:  #FF42F2;
}
.btn-org{
    background-color:rgb(233, 131, 58);
    color:black;
}
td>a,a:hover{
    color:rgb(232, 165, 56);
}
.progress-bar{
    background-color:rgb(233, 131, 58);
}
h1,h3{
   
    font-family: "Montserra",sans-serif;
}

.fliker{
    animation: 0.5s ease-in-out 0s infinite alternate none running fliker;
    margin-bottom: 25px; margin-top:5px;
}
.h4,.h5{
    font-family: "poppins",sans-serif;
    color: #FF42F2;
}
.pink{
    color: #FF42F2;
}
.crd{
    background-color: black;
    width: 97%;
    height: auto;
    padding: 18px;
    border:1px solid rgb(204, 121, 210);
    margin-top: 10px; margin-bottom: 10px;
}
/*.crd:hover{
    border:1px solid rgb(178, 102, 183);
}*/

@keyframes fliker {
    0% {
        opacity: 0.5;
        text-shadow: rgb(255, 0, 238) 2px 2px 10px;
    }
    100% {
        opacity: 1;
        text-shadow: rgb(255, 0, 255) 2px 2px 20px;
    }
}



